<footer class="bg-secondary text-center mt-5 bg-dark" style="position: absolute; width: 100%; margin-bottom: 0px;">
    
    <div class="text-center p-2">
       <p class="text-white"> <i>Copyleft</i> Modelo de Footer que pretendo seguir... <a class="text-info" href="https://www.einerd.com.br/noticias/">GNU public license</a></p>
    </div>

</footer>
