
<header>
    <div class="display-4 p-2 text-center text-white bg-danger"> Crossfit Gym </div>

    <nav class="navbar navbar-expand-sm  bg-dark  navbar-dark" >
        <a class="navbar-brand" href="#">Menu</a>

        <button class="navbar-toggler" type="button" data-target="collapse" data-target="#collapsibleMavBar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav navbar-center">
              
                <li class="nav-item active" ><a class="nav-link" style="padding: 0%;" href="/">Home</a></li>
               
                <li class="nav-item"><a class="nav-link" style="padding: 0%; " href="/sign-in">Cadastre-se</a></li>

                <li class="nav-item"><a class="nav-link" style="padding: 0%;" href="/atualizar">Alterar dados</a></li>
                
                <li class="nav-item"><a class="nav-link" style="padding: 0%;" href="#">Apagar conta</a></li>
               
                <li class="nav-item"><a class="nav-link" style="padding: 0%" href="/about">Sobre nós</a></li>

            </ul>
        </div>
    </nav>
</header>

