
<header>
    <div class="display-4 p-2 text-center text-white bg-danger"> Crossfit Gym </div>

    <nav class="navbar navbar-expand-sm  bg-dark  navbar-dark" >
        <a class="navbar-brand" href="#">Menu</a>

        <button class="navbar-toggler" type="button" data-target="collapse" data-target="#collapsibleMavBar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mx-auto">
              
                <li class="nav-item active" ><a class="nav-link" style="padding: 0%; margin-left: -35%; margin-right: -5%; margin-top: 0%; margin-top: 0%; margin-bottom: 0%;" href="/">Home</a></li>
               
                <li class="nav-item"><a class="nav-link" style="padding: 0%; margin-left: 25%; margin-right: 5%;" href="/sign-in">Cadastre-se</a></li>

                <li class="nav-item"><a class="nav-link" style="padding: 0%; margin-left: 25%;" href="/update">Alterar dados</a></li>
                
                <li class="nav-item"><a class="nav-link" style="padding: 0%; margin-left: 25%;" href="#">Apagar minha conta</a></li>
               
                <li class="nav-item"><a class="nav-link" style="padding: 0%; margin-left: 25%;" href="/about">Sobre nós</a></li>

            </ul>
        </div>
    </nav>
</header>



