<div class="carousel pt-5">
    <div class="carousel-inner">

        <div class="carousel-item active" >
            <div style="position: absolute; height: 820px; width: 100%; background-image: radial-gradient(rgb(0, 0, 0, 0.2), rgba(0, 0, 0, 1.0)); z-index: 1;">
            </div>

            <img style="position: relative; z-index: 0;" class="d-block w-100 pt-2" src="https://wallpapercave.com/wp/wp4915437.jpg" alt="fisrt slide" />
        </div>

    </div>
</div>