body{
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to right, rgb(255, 98, 171), rgb(103, 67, 231) );
}

.show{
    display: inline-block;
}

.hidden{
    display: none;
}
