<footer>
    <div class="d-flex">
        <div class="p-2 bg-info">
            <i>Copyleft</i> Ei Nerd. Página sob licença: <a class="text-light" href="https://www.einerd.com.br/noticias/">GNU public license</a>
        </div>
    </div>
</footer>